<!DOCTYPE html>
<html>
	<head>
		<title>Exercice 13</title>
	</head>
	<body>

		<form action="updatePerson" method="POST">
			<label>id:</label>
			<input id="form_id" type="text" name="valId" > <br> <br>

			<label>Nom:</label>
			<input id="form_nom" type="text" name="valNom" > <br> <br>

			<label>Prenom:</label>
			<input id="form_prenom" type="text" name="valPrenom" > <br> <br>

            <label>Points:</label>
			<input id="form_points" type="text" name="valPoints" > <br> <br>

			<input type="submit" value="Edit">
		</form>


	</body>
</html>