<!DOCTYPE html>
<html>
	<head>
		<title>Exercice 12</title>
	</head>
	<body>

		<form action="addPerson" method="POST">
			<label>Nom:</label>
			<input id="form_nom" type="text" name="valNom" placeholder="Votres nom ..."> <br> <br>

			<label>Prenom:</label>
			<input id="form_prenom" type="text" name="valPrenom" placeholder="Votres Prenom ..."> <br> <br>

            <label>Points:</label>
			<input id="form_points" type="text" name="valPoints" placeholder="Votres points ..."> <br> <br>

			<input type="submit" value="Inserer">
		</form>


	</body>
</html>