<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    </head>
    <body>
        <div id="table_container">
            <div class="form_container">
                <form action="addPerson" method="POST">
                    <div class="form_group">
                        <label class="form_label">Nom:</label>
                        <input type="text" id="form_nom" class="form_field" name="valNom"/>
                    </div>
                    <div class="form_group">
                        <label class="form_label">Prenom:</label>
                        <input type="text" id="form_nom" class="form_field" name="valPrenom"/>
                    </div>
                    <div class="form_group">
                        <label class="form_label">Points:</label>
                        <input type="text" id="form_nom" class="form_field" name="valPoints"/>
                    </div>
    
                    <input type="submit" class="btn-add" value="Ajouter">
                </form>
            </div>

            <table border="1">
                <tr>
                    <th class="col_number">N</th>
                    <th class="col_text">Nom</th>
                    <th class="col_text">Prenom</th>
                    <th class="col_number">Points</th>
                    <th class="col_chkbox">Select</th>
                </tr>
                {% for d in data %}
                    <tr>
                        <td class="col_number">{{d[0]}}</td>
                        <td class="col_text">{{d[1]}}</td>
                        <td class="col_text">{{d[2]}}</td>
                        <td class="col_number">{{d[3]}}</td>
                        <td class="col_chkbox"><input type="checkbox" /></td>
        
                    </tr> 
                {% endfor %}

            </table> 

            <div id="container_summary">
                <p id="p1">0 ligne(s)</p>
                <p id="p2"></p>
                <p id="p3">Total points(s) = 0</p>
            </div>
    
            
        </div>
     
    </body>

    <script src="{{url_for('static', filename='script.js')}}"></script>
</html>